!┌──────────────────────────────────────────────────────────────────────────┐
!│▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒│
!│▒▒┌─────┐░▒┌─────┐░▒┌──────────────┐░▒┌──────────────┐░▒┌──────────────┐░▒│
!│▒▒│▓▒▒▒▒│░▒│▓▒▒▒▒│░▒│▓▒▒▒▒▒▒▒▒▒▒▒▒▒│░▒│▓▒▒▒▒▒▒▒▒▒▒▒▒▒│░▒│▓▒▒▒▒▒▒▒▒▒▒▒▒▒│░▒│
!│▒▒│▓▒▒▒▒│░▒│▓▒▒▒▒│░▒│▓▒▒▒▒┌──┐▒▒▒▒▒│░▒│▓▒▒▒▒▒▒▒▒▒▒▒▒▒│░▒│▓▒┌───────────┘░▒│
!│▒▒│▓▒▒▒▒│░▒│▓▒▒▒▒│░▒│▓▒▒▒▒│░▒│▒▒▒▒▒│░▒│▓▒▒▒▒▒▒▒▒▒▒▒▒▒│░▒│▓▒│░▒▒▒▒▒▒▒▒▒▒▒▒▒│
!│▒▒│▓▒▒▒▒└──┘▓▒▒▒▒│░▒│▓▒▒▒▒│░▒│▒▒▒▒▒│░▒│▓▒┌───────────┘░▒│▓▒└───────────┐░▒│
!│▒▒│▓▒▒▒▒▒▒▒▒▒▒▒▒▒│░▒│▓▒▒▒▒└──┘▒▒▒▒▒│░▒│▓▒│░▒▒▒▒▒▒▒▒▒▒▒▒▒│▓▒▒▒▒▒▒▒▒▒▒▒▒▒│░▒│
!│▒▒│▓▒▒▒▒▒▒▒▒▒▒▒▒▒│░▒│▓▒▒▒▒▒▒▒▒▒▒▒▒┌┘░▒│▓▒└──────────┐░▒▒└───┐▓▒▒▒▒▒▒▒▒▒│░▒│
!│▒▒└┐▒▒▒▒▒▒▒▒▒▒▒▒┌┘░▒│▓▒▒▒▒▒▒▒▒▒▒▒▒└┐░▒│▓▒▒▒▒▒▒▒▒▒▒▒▒│░▒▒▒▒▒▒│▓▒▒▒▒▒▒▒▒▒│░▒│
!│▒▒▒│▒▒▒▒▒▒▒▒▒▒▒▒│░▒▒│▓▒▒▒▒┌──┐▓▒▒▒▒│░▒│▓▒┌──────────┘░▒▒┌─┐░│▓▒▒▒▒▒▒▒▒▒│░▒│
!│▒▒┌┘▒▒▒▒▒▒▒▒▒▒▒▒└┐░▒│▓▒▒▒▒│░▒│▓▒▒▒▒│░▒│▓▒│░▒▒▒▒▒▒▒▒▒▒▒▒▒│▓│░│▓▒▒▒▒▒▒▒▒▒│░▒│
!│▒▒│▓▒▒▒▒▒▒▒▒▒▒▒▒▒│░▒│▓▒▒▒▒│░▒│▓▒▒▒▒│░▒│▓▒│░▒▒▒▒▒▒▒▒▒▒▒▒▒│▓│░│▓▒▒▒▒▒▒▒▒▒│░▒│
!│▒▒│▓▒▒▒▒┌──┐▓▒▒▒▒│░▒│▓▒▒▒▒│░▒│▓▒▒▒▒│░▒│▓▒└───────────┐░▒│▓└─┘▓▒▒▒▒▒▒▒▒▒│░▒│
!│▒▒│▓▒▒▒▒│░▒│▓▒▒▒▒│░▒│▓▒▒▒▒│░▒│▓▒▒▒▒│░▒│▓▒▒▒▒▒▒▒▒▒▒▒▒▒│░▒│▓▒▒▒▒▒▒▒▒▒▒▒▒▒│░▒│
!│▒▒└─────┘░▒└─────┘░▒└─────┘░▒└─────┘░▒└──────────────┘░▒└──────────────┘░▒│
!│▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒│
!└──┐┌──┐▒┌┐▓▒▒▒▒▒▒┌───┐┌┐┌┐▓▒▒▒▒▒▒▒▒┌──┐▓▒▒┌────┐┌┐▓▒▒┌───┐▓▒▒▒▒▒▒▒┌───────┘
!   ││  │▒│└────┐▓▒│   ││││└────┐▓▒┌─┘  │▒▒▒│    │││▓▒▒│   │▓▒▒▒▒▒▒▒│▒▒▒▒
!   ││  │▒│     │▓▒│   ││││ ▓▒▒▒│▓▒│    │▒▒▒│     │└┐▓▒│   │▓▒▒▒▒▒▒▒│▒
!   ││  │▒│     │┌─┘   ││││ ▓   │▓▒│    │▒▒▒│     │ │▓▒│   │▓▒▒▒▒▒▒▒│▒
!   ││  │▒│     ││▒    ││└┘     │▓▒│    │▒┌─┘       │▓┌┘   │▓▒▒▒▒▒▒▒│
!   ││  │▓│     ││▒    ││       │▓▒│    │▒│         │▓│    │▓▒▒▒▒▒▒▒│
!   ││  │▓│     ││     ││   ▓   │▓▒│    └┬┘         │▓│    │▓▒▒▒▒▒▒▒│
!   ││  └─┘     ││     └┘       │▓▒│     │          │▓│    │▓▒▒▒▒▒▒▒│
!   ││  ┌─┐     └┘▒      ┌┐     └┬┬┘                └─┘    └┬─┬┬─┬┬┬┘
!   ││  │▒│              ││      ││                           ││▓│││
!   └┘  │▓│       ▓      ││       │      │           ▒      │ ││  │
!       └─┘              └┘                                   │   │
!   ┌┐  ┌─┐            ┌┐         │                  ▒           │
!   └┘  │▓│       ▓    ││                                     │
!   ┌┐  └─┘            ││                                       ▓
!   └┘                 └┘                                     │  │
!                                                             │
!
!                                                           │
!-------------------------------------------------------------------------------
! Xft settings
!-------------------------------------------------------------------------------

Xft.dpi:				      96
!Xft.dpi:                               192
Xft.antialias: 				true
Xft.rgba: 		    		rgb
Xft.hinting:   				true
Xft.hintstyle: 				hintfull
Xft.lcdfilter: 				lcddefault
Xcursor.theme:				Paper

!!!! special
!!!*.foreground:   #b3b8c4
!!!*.background:   #20242c
!!!*.cursorColor:  #b3b8c4

!!!! black
!!!*.color0:       #213146
!!!*.color8:       #505354

!!!! red
!!!*.color1:       #f91930
!!!*.color9:       #ff1b6d

!!!! green
!!!*.color2:       #32f51c
!!!*.color10:      #93ea00

!!!! yellow
!!!*.color3:       #f4fd22
!!!*.color11:      #ff6600

!!!! blue
!!!*.color4:       #2757d6
!!!*.color12:      #3f78ff

!!!! magenta
!!!*.color5:       #8c54fe
!!!*.color13:      #9e6ffe

!!!! cyan
!!!*.color6:       #38c8b5
!!!*.color14:      #23cfd5

!!!! white
!!!*.color7:       #ccccc6
!!!*.color15:      #f8f8f2

!! test Color

!! ! special
!! *.foreground:   #ffffff
!! *.background:   #000000
!! *.cursorColor:  #ffffff
!! 
!! ! black
!! *.color0:       #101010
!! *.color8:       #404040
!! 
!! ! red
!! *.color1:       #e84f4f
!! *.color9:       #d23d3d
!! 
!! ! green
!! *.color2:       #b8d68c
!! *.color10:      #a0cf5d
!! 
!! ! yellow
!! *.color3:       #e1aa5d
!! *.color11:      #f39d21
!! 
!! ! blue
!! *.color4:       #7dc1cf
!! *.color12:      #4e9fb1
!! 
!! ! magenta
!! *.color5:       #9b64fb
!! *.color13:      #8542ff
!! 
!! ! cyan
!! *.color6:       #6d878d
!! *.color14:      #42717b
!! 
!! ! white
!! *.color7:       #dddddd
!! *.color15:      #dddddd

! TABS COLOURS
! URxvt.color0  : #979797
! URxvt.color1  : #000000

!! Transparency (0-1):

st.alpha: 0.92
st.alphaOffset: 0.63


!! Set a default font and font size for st below:

*.font:	JetBrainsMono NF:pixelsize=14:antialias=true:autohint=true;


