next_color=0
viewer_size=64
viewer_text_overlay_position=0
use_background_color=false
viewer_type=curve
viewer_text_overlay_enabled=false
viewer_text_overlay_font=FuraCode Nerd Font 9
viewer_text_overlay_color=-1
viewer_text_overlay_format_string=%m
viewer_text_overlay_separator=\ 

[1]
type=cpu_usage
cpu_no=-1
include_low_priority=false
include_iowait=false
update_interval=1000
fixed_max=true
tag=
add_to_text_overlay=true
color=1021716935
network_type_0_interface_name=eth0
network_type_1_interface_name=eth1
network_type_2_interface_name=eth2
network_type_3_interface_name=ppp
network_type_4_interface_name=slip
network_type_5_interface_name=wlan0
network_type_6_interface_name=wlan1
network_type_7_interface_name=wlan2

[2]
type=cpu_usage
cpu_no=0
include_low_priority=true
include_iowait=false
update_interval=0
fixed_max=true
tag=
add_to_text_overlay=true
color=404472775

[3]
type=cpu_usage
cpu_no=1
include_low_priority=true
include_iowait=false
update_interval=0
fixed_max=true
tag=
add_to_text_overlay=true
color=-568532281

[4]
type=cpu_usage
cpu_no=2
include_low_priority=true
include_iowait=false
update_interval=0
fixed_max=true
tag=
add_to_text_overlay=true
color=-771285049

[5]
type=cpu_usage
cpu_no=3
include_low_priority=true
include_iowait=false
update_interval=0
fixed_max=true
tag=
add_to_text_overlay=true
color=-7861305

