[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/rx/Desktop/random]
row=8
col=0

[/home/rx/Desktop/Power Suit Samus cosplay by Willow Creative.jpg]
row=10
col=0

[/home/rx/Desktop/71XTG1dCzkL._SL1000_.jpg]
row=9
col=0

[/home/rx/Desktop/kitchen_sink]
row=7
col=0

[7C4C0AB34C0A686A]
row=2
col=0

[BECE18D1CE1883B5]
row=5
col=0

[602877BB28778EB2]
row=4
col=0

[C6B89CABB89C9B8D]
row=6
col=0

[6EEE6953EE69149D]
row=3
col=0

