[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/rx/Desktop/sasadasdas.desktop]
row=6
col=0

[/home/rx/Desktop/rofi.desktop]
row=5
col=0

[/home/rx/Desktop/tv on STORE]
row=7
col=0

[C6B89CABB89C9B8D]
row=8
col=0

[6EEE6953EE69149D]
row=2
col=0

[BECE18D1CE1883B5]
row=4
col=0

[602877BB28778EB2]
row=1
col=0

[7C4C0AB34C0A686A]
row=3
col=0

[E62E-4AD4]
row=9
col=0

