[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/rx/Desktop/mother_shared_resource.jpg]
row=8
col=0

[/home/rx/Desktop/retarded_virtualbox.png]
row=9
col=0

[/home/rx/Desktop/DEBECOLEGIO.xls]
row=6
col=0

[/home/rx/Desktop/tiny.mp4]
row=10
col=0

[/home/rx/Desktop/links]
row=4
col=0

[/home/rx/Desktop/get_used_to_the_bear_behind_you.jpg]
row=7
col=0

[BECE18D1CE1883B5]
row=1
col=0

[602877BB28778EB2]
row=0
col=0

[6EEE6953EE69149D]
row=2
col=0

[7C4C0AB34C0A686A]
row=3
col=0

