[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/rx/Desktop/colegio.xls]
row=1
col=66

[/home/rx/Desktop/links]
row=0
col=66

[7C4C0AB34C0A686A]
row=3
col=68

[BECE18D1CE1883B5]
row=1
col=68

[602877BB28778EB2]
row=0
col=68

[C6B89CABB89C9B8D]
row=0
col=0

[6EEE6953EE69149D]
row=2
col=68

