[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/rx/Desktop/DEBECOLEGIO.xls]
row=7
col=0

[/home/rx/Desktop/moon02.jpg]
row=13
col=0

[/home/rx/Desktop/get_used_to_the_bear_behind_you.jpg]
row=6
col=1

[/home/rx/Desktop/father.png]
row=3
col=0

[/home/rx/Desktop/endorsed_that.jpg]
row=10
col=0

[/home/rx/Desktop/mother_shared_resource.jpg]
row=6
col=2

[/home/rx/Desktop/retarded_virtualbox.png]
row=8
col=0

[/home/rx/Desktop/tiny.mp4]
row=9
col=0

[/home/rx/Desktop/moon01.jpg]
row=12
col=0

[/home/rx/Desktop/moon03.jpg]
row=14
col=0

[6EEE6953EE69149D]
row=5
col=0

[7C4C0AB34C0A686A]
row=6
col=0

[BECE18D1CE1883B5]
row=11
col=0

[602877BB28778EB2]
row=4
col=0

